<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">Tevfik Çelik</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link <%= activePage === 'home' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= activePage === 'resume' ? 'active' : '' %>" href="/resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= activePage === 'skills' ? 'active' : '' %>" href="/skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= activePage === 'about' ? 'active' : 'disabled' %>" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= activePage === 'contact' ? 'active' : 'disabled' %>" href="/contact">Contact Me</a>
            </li>
            <li>
              <button id="themeToggle">🌓</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  